/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grid */

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}
.news {
    height:10rem;
    width: 100%;
    background-size: cover;
}
.display-line {
    display: none;
}
.icon-search {
    float: right;
    font-size: 25px;
    margin: 7px 13px 7px 7px;
}
.logo-nav {
    width: 49px;
    margin-left: 4px;
}
.article-image {
    height: 11.3rem;
    background-size: cover;
}
.label {
    background-color: #00BBEF;
    color: #fff;
    position: absolute;
    margin-top: 9.7rem;
    padding: 3px 8px;
    font-weight: 900;
}
h1 {
    color: #fff;
    margin-top: 3em;
    position: absolute;
    margin-left: 10px;
}
h2 {
    color: #fff;
    margin-top: 5.5em;
    position: absolute;
    margin-left: 10px;
    font-size: 18px;
    line-height: 12px;
    text-align: left;
    margin-right: 35px;
}
.icon-chevron-right {
    color: #fff;
    font-size: 10px;
    background-color: #00BBEF;
    border-radius: 50%;
    padding: 2px 4px;
}
.article-title {
    font-weight: 900;
    text-transform: capitalize;
    color: #232323;
}
.button-shows {
    background-color: #232323;
    padding: 7px 17px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}
.browse-shows {
    text-align: center;
    padding:40px 0;
}
.schedule {
    background-color: #232323;
    margin-top: 3em;
    position: absolute;
    color: #fff;
}
.latest-stories-title {
    color: #232323;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 900;
}
.stories-news {
    margin-top: 14px;
}
nav {
    background-color: #232323;
    color: #fff;
    height: 50px;
    padding-top: 7px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.time {
    font-size: 10px;
}
.menu-dropdown {
    display: none;
}
@media (min-width: 375px) {
    .news {
    height:12rem;
    width: 100%;
    background-size: cover;
    }
    .article-image {
    height: 12.6rem;
    background-size: cover;
    }
    .label {
    background-color: #00BBEF;
    color: #fff;
    position: absolute;
    margin-top: 11rem;
    padding: 3px 8px;
    font-weight: 900;
    }
}
@media (min-width: 425px) {
    .news {
    height:14rem;
    width: 100%;
    background-size: cover;
    }
    .article-image {
    height: 14rem;
    background-size: cover;
    }
     .label {
    background-color: #00BBEF;
    color: #fff;
    position: absolute;
    margin-top: 12.4rem;
    padding: 3px 8px;
    font-weight: 900;
    }
    h1 {
    color: #fff;
    margin-top: 4.6rem;
    position: absolute;
    margin-left: 10px;
    font-size: 30px; 
    }
    h2 {
    color: #fff;
    margin-top: 6.6rem;
    position: absolute;
    margin-left: 10px;
    font-size: 22px;
    line-height: 12px;
    text-align: left;
    margin-right: 35px;
    }
    .icon-chevron-right {
    color: #fff;
    font-size: 14px;
    background-color: #00BBEF;
    border-radius: 50%;
    padding: 2px 4px;
    margin-left: 10px;
    }
    .article-title {
    font-weight: 900;
    text-transform: capitalize;
    color: #232323;
    font-size: 20px;
    }
    .button-shows {
    background-color: #232323;
    padding: 8px 18px;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    }
    .browse-shows {
    text-align: center;
    padding:60px 0;
    }
    
}


.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
    
    .row .principal-section {
        height: 25rem;
    }
    .schedule {
    background-color: #232323;
    margin-top: 13em;
    position: absolute;
    color: #fff;
    }
    h1 {
    color: #fff;
    margin-top: 14.6rem;
    position: absolute;
    margin-left: 10px;
    font-size: 70px; 
    }
    h2 {
    color: #fff;
    margin-top: 20.6rem;
    position: absolute;
    margin-left: 10px;
    font-size: 28px;
    line-height: 12px;
    text-align: left;
    margin-right: 35px;
    }
    .icon-chevron-right {
    color: #fff;
    font-size: 20px;
    background-color: #00BBEF;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: 10px;
    }
    .news-width {
        width: 50%;
        display: inline-block;
    }
    .news-width .schedule{
    background-color: #232323;
    margin-top: 4.5em;
    position: absolute;
    color: #fff;
    }
    .news-width h1 {
    color: #fff;
    margin-top: 6rem;
    position: absolute;
    margin-left: 10px;
    font-size: 27px; 
    }
    .news-width h2 {
    color: #fff;
    margin-top: 7.6rem;
    position: absolute;
    margin-left: 10px;
    font-size: 18px;
    line-height: 12px;
    text-align: left;
    margin-right: 35px;
    }
    .news-width .icon-chevron-right {
    color: #fff;
    font-size: 14px;
    background-color: #00BBEF;
    border-radius: 50%;
    padding: 2px 4px;
    margin-left: 10px;
    }
    .latest-stories-title {
        font-size: 30px;
    }
    .stories-news {
    margin-top: 14px;
    }
    .time {
    font-size: 10px;
    }
    .article-image {
    height: 13.3rem;
    background-size: cover;
    }
    .stories-news {
        width: 49%;
        display: inline-block;
    }
    .first-article {
        margin-right: 1%;
    }
    .label {
    background-color: #00BBEF;
    color: #fff;
    position: absolute;
    margin-top: 11.7em;
    padding: 3px 8px;
    font-weight: 900;
    }
    footer div {
        margin-bottom: 18px;
    }
  .col-sm-1 {
    width: 8.33333333%;
  }
  
  .col-sm-2 {
    width: 16.66666667%;
  }
  
  .col-sm-3 {
    width: 25%;
  }
  
  .col-sm-4 {
    width: 33.33333333%;
  }
  
  .col-sm-5 {
    width: 41.66666667%;
  }
  
  .col-sm-6 {
    width: 50%;
  }
  
  .col-sm-7 {
    width: 58.33333333%;
  }
  
  .col-sm-8 {
    width: 66.66666667%;
  }
  
  .col-sm-9 {
    width: 75%;
  }
  
  .col-sm-10 {
    width: 83.33333333%;
  }
  
  .col-sm-11 {
    width: 91.66666667%;
  }
  
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  
  .col-md-offset-3 {
    margin-left: 25%;
  }
  
  /*.col-md-offset-4 {
    margin-left: 33.33333333%;
  }*/
  
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-md-offset-6 {
    margin-left: 50%;
  }
  
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-md-offset-9 {
    margin-left: 75%;
  }
  
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1024px) {
    .display-burguer {
        display: none;
    }
    .display-menu-video {
        display: none;
    }
    
    .col-md-8 {
    width: 66.66666666%;
    }
    .row .principal-section {
        height: 35rem;
    }
    .news {
        background-position: center;
    }
    .stories-news {
         
    }
    .article-image {
        height: 13.4rem;
        background-position: center;
    }
    nav {
        height: 115px;
    }
    .logo-nav {
    width: 50px;
    margin-top: 30px;
    }
    .icon-search {
        margin-top: 0px;
        font-size: 28px;
    }
    .dropdown {
        display: block;
        background-color: #232323;
    }
    .menu-dropdown {
        display: block;
    }
    nav ul {
        list-style: none;
        font-weight: 600;
        font-size: 18px;
        background-color: #232323;
        display: inline-block;
        float: left;
    }
    nav li {
        padding: 10px 15px;
        display: inline-block;
    }
    nav ul ul {
        position: absolute;
    }
    
    nav li:hover {
        background-color: rgba(61, 41, 41,0.9);
        cursor: pointer;
    }
    .icon-keyboard_arrow_down {
	margin-left: 8px;
    }
    .icon-circle {
	font-size: 14px;
	color: red;
	margin-left: 8px;
    }
    a {
	text-decoration: none;
	color: #fff;
    }
    .logo-nav {
        display: inline-block;
    }
}
@media (min-width: 1440px) {
    .article-image {
        height: 19.4rem;
    }
    .label {
    margin-top: 11.37em;
    padding: 4px 10px;
    font-size: 24px;
    }
    .article-title {
    font-size: 25px;
    }
    .time {
    font-size: 15px;
    }
    .col-md-8 {
    width: 66.66666666%;
    }
}