@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1jfwec');
  src:  url('fonts/icomoon.eot?1jfwec#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1jfwec') format('truetype'),
    url('fonts/icomoon.woff?1jfwec') format('woff'),
    url('fonts/icomoon.svg?1jfwec#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook:before {
  content: "\e900";
}
.icon-keyboard_arrow_down:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e904";
}
